Repository kumahq/kuma, pull requests merged in 2019-11, with the labels that each got.

#381 Add overwrite option
  app/kumactl/cmd/config/config_control_planes_add.go
  app/kumactl/cmd/config/config_control_planes_add_test.go
  app/kumactl/cmd/config/testdata/config-control-planes-add.03.golden.yaml
  app/kumactl/cmd/config/testdata/config-control-planes-add.03.initial.yaml
  docs/cmd/kumactl/HELP.md
  pkg/config/app/kumactl/v1alpha1/config_helpers.go
Labels: kumactl

#403 language revision for the config 404 message
  app/kuma-dp/pkg/dataplane/envoy/remote_bootstrap.go
Labels: kuma-dp

#405 github: add CODEOWNERS file
  CODEOWNERS
Labels: github

#392 kuma-cp: reconcile on Dataplane delete to handle a case where a user manually deletes Dataplane
  pkg/plugins/discovery/k8s/controllers/pod_controller.go
  pkg/plugins/discovery/k8s/controllers/pod_controller_test.go
Labels: bug, kubernetes, kuma-cp

#396 kuma-api: add protobuf descriptor for TrafficRoute type
  api/mesh/v1alpha1/traffic_route.pb.go
  api/mesh/v1alpha1/traffic_route.pb.validate.go
  api/mesh/v1alpha1/traffic_route.proto
  api/mesh/v1alpha1/traffic_route_test.go
Labels: kuma-api, kuma-cp

#372 feat(kumactl) support for https dataplane token server
  app/kumactl/cmd/config/config_control_planes_add.go
  app/kumactl/cmd/config/config_control_planes_add_test.go
  app/kumactl/cmd/config/testdata/config-control-planes-add.01.golden.yaml
  app/kumactl/cmd/config/testdata/config-control-planes-add.02.golden.yaml
  app/kumactl/cmd/config/testdata/config-control-planes-add.03.golden.yaml
  app/kumactl/cmd/generate/generate_dataplane_token_test.go
  app/kumactl/pkg/cmd/root_context.go
  app/kumactl/pkg/tokens/client.go
  app/kumactl/pkg/tokens/client_test.go
  docs/cmd/kumactl/HELP.md
  pkg/config/app/kumactl/v1alpha1/config.pb.go
  pkg/config/app/kumactl/v1alpha1/config.pb.validate.go
  pkg/config/app/kumactl/v1alpha1/config.proto
  pkg/config/app/kumactl/v1alpha1/config_helpers.go
  pkg/core/bootstrap/autoconfig.go
  pkg/core/bootstrap/autoconfig_test.go
  pkg/tokens/builtin/server/dataplane_token_server.go
  pkg/tokens/builtin/server/dataplane_token_server_test.go
  pkg/util/http/tls.go
Labels: kumactl, mTLS

#388 feat(kuma-cp) validate dataplane
  pkg/api-server/dataplane_overview_ws.go
  pkg/api-server/error_handler.go
  pkg/api-server/mesh_ws_test.go
  pkg/api-server/resource_ws.go
  pkg/api-server/resource_ws_test.go
  pkg/api-server/types/error.go
  pkg/core/managers/apis/mesh/mesh_manager.go
  pkg/core/resources/apis/mesh/dataplane_insight.go
  pkg/core/resources/apis/mesh/dataplane_overview.go
  pkg/core/resources/apis/mesh/dataplane_validator.go
  pkg/core/resources/apis/mesh/dataplane_validator_test.go
  pkg/core/resources/apis/mesh/mesh.go
  pkg/core/resources/apis/mesh/meta_validator.go
  pkg/core/resources/apis/mesh/proxytemplate.go
  pkg/core/resources/apis/mesh/traffic_log.go
  pkg/core/resources/apis/mesh/traffic_permission.go
  pkg/core/resources/apis/system/secret.go
  pkg/core/resources/manager/manager.go
  pkg/core/resources/model/resource.go
  pkg/core/validators/types.go
  pkg/core/validators/types_test.go
  pkg/core/validators/validators_suit_test.go
  pkg/test/resources/apis/sample/sample_types.go
  pkg/xds/server/components_test.go
Labels: kuma-cp

#416 ci: fix failing e2e tests
  Makefile.e2e.mk
Labels: ci

#398 kuma-cp: add TrafficRoute CRD on kubernetes
  app/kumactl/cmd/install/testdata/install-control-plane.defaults.golden.yaml
  app/kumactl/cmd/install/testdata/install-control-plane.overrides.golden.yaml
  app/kumactl/data/install/k8s/control-plane/crds/kuma.io_trafficroutes.yaml
  app/kumactl/data/install/k8s/control-plane/kuma-cp/rbac.yaml
  app/kumactl/pkg/install/k8s/control-plane/templates_vfsdata.go
  dev/examples/k8s/traffic-routes/web-to-backend.yaml
  pkg/plugins/resources/k8s/native/api/v1alpha1/global_type_registry_test.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/trafficroute_types.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/trafficroute_types_deepcopy.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/trafficroute_types_helpers.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/trafficroute_types_test.go
  pkg/plugins/resources/k8s/native/config/crd/bases/kuma.io_trafficroutes.yaml
  pkg/plugins/resources/k8s/native/config/rbac/role.yaml
  pkg/plugins/resources/k8s/native/controllers/doc.go
Labels: kubernetes, kuma-cp

#402 feat: kumactl parse url
  app/kumactl/cmd/apply/apply.go
  app/kumactl/cmd/apply/apply_test.go
Labels: kumactl

#424 kuma-cp: validate TrafficRoute
  pkg/core/resources/apis/mesh/traffic_route.go
  pkg/core/resources/apis/mesh/traffic_route_validator.go
  pkg/core/resources/apis/mesh/traffic_route_validator_test.go
  pkg/core/resources/apis/mesh/validators.go
  pkg/core/validators/types.go
  pkg/core/validators/types_test.go
Labels: kuma-cp

#400 kumactl: add `get traffic-routes` command
  app/kumactl/cmd/delete/delete.go
  app/kumactl/cmd/delete/delete_dataplane_test.go
  app/kumactl/cmd/delete/delete_meshes_test.go
  app/kumactl/cmd/delete/delete_proxytemplate_test.go
  app/kumactl/cmd/delete/delete_test.go
  app/kumactl/cmd/delete/delete_trafficlog_test.go
  app/kumactl/cmd/delete/delete_trafficpermission_test.go
  app/kumactl/cmd/get/get.go
  app/kumactl/cmd/get/get_traffic_routes.go
  app/kumactl/cmd/get/get_traffic_routes_test.go
  app/kumactl/cmd/get/testdata/get-traffic-routes.golden.json
  app/kumactl/cmd/get/testdata/get-traffic-routes.golden.txt
  app/kumactl/cmd/get/testdata/get-traffic-routes.golden.yaml
  docs/cmd/kumactl/HELP.md
  tools/docs/kumactl/gen_help.sh
Labels: kumactl

#425 ci: include Docker image with `kumactl` into release build
  .circleci/config.yml
  Makefile
  tools/releases/docker.sh
  tools/releases/dockerfiles/Dockerfile.kumactl
Labels: ci

#401 feat(kuma-cp) validate resources on kubernetes
  app/kumactl/cmd/install/testdata/install-control-plane.defaults.golden.yaml
  app/kumactl/cmd/install/testdata/install-control-plane.overrides.golden.yaml
  app/kumactl/data/install/k8s/control-plane/kuma-cp/app.yaml
  app/kumactl/pkg/install/k8s/control-plane/templates_vfsdata.go
  pkg/plugins/resources/k8s/consistent_kind_type_test.go
  pkg/plugins/resources/k8s/k8s_suite_test.go
  pkg/plugins/resources/k8s/native/test/api/sample/v1alpha1/sample_types.go
  pkg/plugins/resources/k8s/native/test/api/sample/v1alpha1/sample_types_deepcopy.go
  pkg/plugins/resources/k8s/native/test/api/sample/v1alpha1/sample_types_helpers.go
  pkg/plugins/resources/k8s/native/test/config/crd/bases/sample.test.kuma.io_trafficroutes.yaml
  pkg/plugins/resources/k8s/store_template_test.go
  pkg/plugins/resources/k8s/store_test.go
  pkg/plugins/runtime/k8s/plugin.go
  pkg/plugins/runtime/k8s/webhooks/defaulter_test.go
  pkg/plugins/runtime/k8s/webhooks/validation.go
  pkg/plugins/runtime/k8s/webhooks/validation_test.go
Labels: kubernetes, kuma-cp

#421 kuma-cp: pick a single the most specific TrafficRoute for every outbound interface of a Dataplane
  api/mesh/v1alpha1/dataplane_helpers.go
  api/mesh/v1alpha1/dataplane_helpers_test.go
  pkg/core/xds/types.go
  pkg/xds/envoy/envoy.go
  pkg/xds/envoy/envoy_test.go
  pkg/xds/generator/outbound_proxy_generator_test.go
  pkg/xds/server/components.go
  pkg/xds/topology/outbound.go
  pkg/xds/topology/outbound_test.go
  pkg/xds/topology/router.go
  pkg/xds/topology/router_helper_test.go
  pkg/xds/topology/router_test.go
  pkg/xds/topology/topology_suite_test.go
Labels: kuma-cp

#422 kuma-cp: include dataplane tags into ClusterLoadAssignment
  pkg/xds/envoy/envoy.go
  pkg/xds/envoy/envoy_test.go
  pkg/xds/generator/outbound_proxy_generator_test.go
  pkg/xds/generator/proxy_template_profile_source_test.go
  pkg/xds/generator/proxy_template_test.go
  pkg/xds/generator/testdata/outbound-proxy/03.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/04.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/05.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/06.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/07.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/08.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.0.non-transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.0.transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.1.non-transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.1.transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.2.non-transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.2.transparent.input.yaml
  pkg/xds/generator/testdata/profile-source/1-dataplane.input.yaml
  pkg/xds/generator/testdata/profile-source/1-envoy-config.golden.yaml
  pkg/xds/generator/testdata/profile-source/2-dataplane.input.yaml
  pkg/xds/generator/testdata/profile-source/2-envoy-config.golden.yaml
  pkg/xds/generator/testdata/template-proxy/1-dataplane.input.yaml
Labels: kuma-cp

#423 kuma-cp: generate `tcp_proxy` configuration that routes to a list of weighted clusters according to TrafficRoute
  api/mesh/v1alpha1/dataplane_helpers.go
  api/mesh/v1alpha1/dataplane_helpers_test.go
  pkg/core/xds/types.go
  pkg/core/xds/types_test.go
  pkg/xds/envoy/envoy.go
  pkg/xds/envoy/envoy_test.go
  pkg/xds/generator/outbound_proxy_generator_test.go
  pkg/xds/generator/proxy_template.go
  pkg/xds/generator/proxy_template_profile_source_test.go
  pkg/xds/generator/resource_generator.go
  pkg/xds/generator/resource_generator_test.go
  pkg/xds/generator/testdata/outbound-proxy/03.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/04.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/05.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/06.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/07.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/08.envoy.golden.yaml
  pkg/xds/server/components.go
  pkg/xds/topology/router.go
Labels: kuma-cp

#426 ci: fix `e2e` tests in release workflow
  .circleci/config.yml
  Makefile
  Makefile.e2e.mk
Labels: ci

#428 GUI server config
  app/kuma-ui/pkg/server/server.go
  app/kuma-ui/pkg/server/server_test.go
  app/kuma-ui/pkg/server/types/gui_config.go
  pkg/config/gui-server/config.go
  pkg/core/bootstrap/autoconfig.go
  pkg/core/bootstrap/autoconfig_test.go
Labels: kuma-cp

#440 workshop: split demo app into frontend and backend
  examples/kubernetes/kuma-demo/kuma-demo-aio.yaml
Labels: demo, kubernetes

#444 demo: add more labels on Pods to showcase TrafficRoute
  examples/kubernetes/kuma-demo/kuma-demo-aio.yaml
Labels: demo, kubernetes

#447 docs: add release notes for 0.3.0
  CHANGELOG.md
Labels: docs

#453 docs: add 0.3.0 feature examples
  examples/kubernetes/kuma-demo/README.md
  examples/kubernetes/kuma-demo/kuma-demo-aio.yaml
  examples/kubernetes/kuma-demo/kuma-demo-log.yaml
Labels: docs, kubernetes

#449 feat(kuma-cp) autoconfigure xds params
  app/kumactl/cmd/install/testdata/install-control-plane.defaults.golden.yaml
  app/kumactl/cmd/install/testdata/install-control-plane.overrides.golden.yaml
  app/kumactl/data/install/k8s/control-plane/kuma-cp/app.yaml
  app/kumactl/pkg/install/k8s/control-plane/templates_vfsdata.go
  pkg/config/app/kuma-cp/kuma-cp.defaults.yaml
  pkg/config/xds/bootstrap/config.go
  pkg/config/xds/bootstrap/testdata/default-config.golden.yaml
  pkg/core/bootstrap/autoconfig.go
  pkg/core/bootstrap/autoconfig_test.go
  pkg/xds/bootstrap/generator_test.go
  pkg/xds/bootstrap/server_test.go
  tools/e2e/examples/docker-compose/docker-compose.yaml
Labels: kuma-cp

#455 feat(kumactl) use override msg when adding a control plane
  app/kumactl/cmd/config/config_control_planes_add.go
  app/kumactl/cmd/config/config_control_planes_add_test.go
Labels: kumactl
