Repository kumahq/kuma, pull requests merged in 2019-09, with the labels that each got.

#199 chore: update version of KIND
  Makefile
Labels: dev

#201 control-plane: sds: support k8s environment
  Makefile
  app/kuma-injector/cmd/testdata/tls.crt
  app/kuma-injector/cmd/testdata/tls.key
  app/kumactl/cmd/install/testdata/install-control-plane.defaults.golden.yaml
  app/kumactl/cmd/install/testdata/install-control-plane.overrides.golden.yaml
  app/kumactl/data/install/k8s/control-plane/kuma-cp/rbac.yaml
  app/kumactl/pkg/install/k8s/control-plane/templates_vfsdata.go
  pkg/plugins/secrets/k8s/plugin.go
  pkg/plugins/secrets/k8s/store.go
  pkg/plugins/secrets/k8s/store_test.go
  pkg/sds/auth/k8s/authenticator.go
  pkg/xds/context/context.go
  pkg/xds/envoy/envoy.go
  pkg/xds/envoy/envoy_test.go
Labels: control-plane, mtls

#202 chore: update version of Kubebuilder
  Makefile
  go.mod
  go.sum
  pkg/plugins/resources/k8s/native/Makefile
  pkg/plugins/resources/k8s/native/config/rbac/role.yaml
  pkg/plugins/resources/k8s/native/go.mod
  pkg/plugins/resources/k8s/native/go.sum
Labels: dev

#208 control-plane: rename namespace of k8s CRDs to `kuma.io`
  API.md
  app/kumactl/cmd/install/testdata/install-control-plane.defaults.golden.yaml
  app/kumactl/cmd/install/testdata/install-control-plane.overrides.golden.yaml
  app/kumactl/data/install/k8s/control-plane/crds/kuma.io_dataplaneinsights.yaml
  app/kumactl/data/install/k8s/control-plane/crds/kuma.io_dataplanes.yaml
  app/kumactl/data/install/k8s/control-plane/crds/kuma.io_meshes.yaml
  app/kumactl/data/install/k8s/control-plane/crds/kuma.io_proxytemplates.yaml
  app/kumactl/data/install/k8s/control-plane/crds/kuma.io_trafficpermissions.yaml
  app/kumactl/data/install/k8s/control-plane/kuma-cp/rbac.yaml
  app/kumactl/pkg/install/k8s/control-plane/templates_vfsdata.go
  dev/examples/k8s/meshes/pilot.yaml
  dev/examples/k8s/proxytemplates/empty.yaml
  pkg/plugins/resources/k8s/native/api/v1alpha1/groupversion_info.go
  pkg/plugins/resources/k8s/native/config/crd/bases/kuma.io_dataplaneinsights.yaml
  pkg/plugins/resources/k8s/native/config/crd/bases/kuma.io_dataplanes.yaml
  pkg/plugins/resources/k8s/native/config/crd/bases/kuma.io_meshes.yaml
  pkg/plugins/resources/k8s/native/config/crd/bases/kuma.io_proxytemplates.yaml
  pkg/plugins/resources/k8s/native/config/crd/bases/kuma.io_trafficpermissions.yaml
  pkg/plugins/resources/k8s/native/config/crd/kustomization.yaml
  pkg/plugins/resources/k8s/native/config/crd/patches/cainjection_in_meshes.yaml
  pkg/plugins/resources/k8s/native/config/crd/patches/cainjection_in_proxytemplates.yaml
  pkg/plugins/resources/k8s/native/config/crd/patches/webhook_in_meshes.yaml
  pkg/plugins/resources/k8s/native/config/crd/patches/webhook_in_proxy.yaml
  pkg/plugins/resources/k8s/native/config/crd/patches/webhook_in_proxytemplates.yaml
  pkg/plugins/resources/k8s/native/config/rbac/role.yaml
  pkg/plugins/resources/k8s/native/config/samples/mesh_v1alpha1_dataplane.yaml
  pkg/plugins/resources/k8s/native/config/samples/mesh_v1alpha1_mesh.yaml
  pkg/plugins/resources/k8s/native/config/samples/mesh_v1alpha1_proxytemplate.yaml
  pkg/plugins/resources/k8s/native/controllers/doc.go
  pkg/plugins/resources/k8s/native/controllers/proxytemplate_controller.go
Labels: control-plane

#220 kumactl: improve output of `get meshes`
  app/kumactl/cmd/get/get_meshes.go
  app/kumactl/cmd/get/testdata/get-meshes.golden.txt
  app/kumactl/pkg/output/table/cells.go
Labels: kumactl

#218 control-plane: implement CDS and EDS for universal case
  api/mesh/v1alpha1/dataplane_helpers.go
  api/mesh/v1alpha1/dataplane_helpers_test.go
  go.sum
  pkg/core/xds/types.go
  pkg/xds/envoy/envoy.go
  pkg/xds/envoy/envoy_test.go
  pkg/xds/generator/outbound_proxy_generator_test.go
  pkg/xds/generator/proxy_template.go
  pkg/xds/generator/testdata/outbound-proxy/01.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/02.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/03.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/04.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/05.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/06.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/07.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/08.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.0.non-transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.0.transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.1.non-transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.1.transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.2.non-transparent.input.yaml
  pkg/xds/generator/testdata/outbound-proxy/dataplane.2.transparent.input.yaml
  pkg/xds/server/components.go
  pkg/xds/topology/outbound.go
Labels: control-plane

#219 control-plane: configure mTLS on client side (at Cluster resource)
  pkg/xds/envoy/envoy.go
  pkg/xds/envoy/envoy_test.go
  pkg/xds/generator/inbound_proxy_generator_test.go
  pkg/xds/generator/proxy_template.go
  pkg/xds/generator/testdata/inbound-proxy/3-envoy-config.golden.yaml
  pkg/xds/generator/testdata/inbound-proxy/4-envoy-config.golden.yaml
  pkg/xds/generator/testdata/inbound-proxy/5-envoy-config.golden.yaml
  pkg/xds/generator/testdata/inbound-proxy/6-envoy-config.golden.yaml
  pkg/xds/generator/testdata/inbound-proxy/7-envoy-config.golden.yaml
  pkg/xds/generator/testdata/inbound-proxy/8-envoy-config.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/04.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/06.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/08.envoy.golden.yaml
  pkg/xds/generator/testdata/profile-source/1-envoy-config.golden.yaml
  pkg/xds/generator/testdata/profile-source/2-envoy-config.golden.yaml
  pkg/xds/generator/testdata/template-proxy/1-envoy-config.golden.yaml
  pkg/xds/server/snapshot_generator_test.go
  pkg/xds/server/testdata/3-envoy-config.golden.yaml
  pkg/xds/server/testdata/4-envoy-config.golden.yaml
  pkg/xds/server/testdata/5-envoy-config.golden.yaml
  pkg/xds/server/testdata/6-envoy-config.golden.yaml
  pkg/xds/server/testdata/7-envoy-config.golden.yaml
  pkg/xds/server/testdata/8-envoy-config.golden.yaml
Labels: control-plane, mtls

#221 kuma-dp: turn off Envoy Admin interface by default
  app/kuma-injector/pkg/injector/injector.go
  app/kuma-injector/pkg/injector/testdata/inject.01.golden.yaml
  app/kuma-injector/pkg/injector/testdata/inject.02.golden.yaml
  app/kuma-injector/pkg/injector/testdata/inject.03.golden.yaml
  app/kuma-injector/pkg/injector/testdata/inject.04.golden.yaml
  pkg/config/app/kuma-cp/kuma-cp.defaults.yaml
  pkg/config/app/kuma-dp/config.go
  pkg/config/app/kuma-dp/testdata/default-config.golden.yaml
  pkg/config/xds/config.go
  pkg/xds/bootstrap/template.go
  pkg/xds/bootstrap/testdata/bootstrap.golden.yaml
Labels: control-plane, kuma-dp

#227 control-plane: refactor ProxyTemplate model
  API.md
  api/mesh/v1alpha1/proxy_template.pb.go
  api/mesh/v1alpha1/proxy_template.proto
  dev/examples/k8s/proxytemplates/profile.yaml
  dev/examples/universal/proxytemplates/profile.yaml
  pkg/plugins/resources/k8s/native/config/samples/mesh_v1alpha1_proxytemplate.yaml
  pkg/xds/generator/proxy_template.go
  pkg/xds/generator/proxy_template_profile_source_test.go
  pkg/xds/generator/proxy_template_raw_source_test.go
  pkg/xds/generator/proxy_template_test.go
  pkg/xds/generator/testdata/template-proxy/1-proxy-template.input.yaml
  pkg/xds/server/proxy_template_resolver_test.go
  pkg/xds/template/proxy_template.go
Labels: control-plane

#226 Readme fixes
  LICENSE
  README.md
Labels: docs

#229 kumactl install: change the registry of Docker images
  app/kumactl/cmd/install/install_control_plane.go
  app/kumactl/cmd/install/testdata/install-control-plane.defaults.golden.yaml
  docs/cmd/kumactl/HELP.md
Labels: kumactl

#230 ci: fix failing build
  Makefile
Labels: ci, kumactl

#241 dev: fixes for development environment
  .circleci/config.yml
  Makefile
Labels: dev

#242 control-plane: re-generate Dataplane definition on k8s Service update
  pkg/plugins/discovery/k8s/controllers/pod_controller.go
Labels: control-plane

#238 control-plane: implement CDS, EDS, mTLS on k8s
  api/mesh/v1alpha1/dataplane_helpers.go
  api/mesh/v1alpha1/dataplane_helpers_test.go
  pkg/plugins/discovery/k8s/controllers/pod_controller.go
  pkg/plugins/discovery/k8s/controllers/pod_converter.go
  pkg/plugins/discovery/k8s/controllers/pod_converter_test.go
  pkg/xds/generator/proxy_template.go
  pkg/xds/generator/testdata/outbound-proxy/03.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/04.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/05.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/06.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/07.envoy.golden.yaml
  pkg/xds/generator/testdata/outbound-proxy/08.envoy.golden.yaml
Labels: control-plane

#247 ci: fix flaky unit test
  pkg/plugins/discovery/k8s/controllers/pod_converter.go
  pkg/plugins/discovery/k8s/controllers/pod_converter_test.go
Labels: ci

#248 chore: update version of Golang
  .circleci/config.yml
  DEVELOPER.md
  Dockerfile.kuma-cp
  Dockerfile.kuma-dp
  Dockerfile.kuma-injector
  Dockerfile.kuma-tcp-echo
  Dockerfile.kumactl
  Makefile
  api/DEVELOPER.md
  pkg/plugins/resources/k8s/native/Dockerfile
Labels: chore

#245 changelog: add 0.1.2 release
  CHANGELOG.md
Labels: changelog

#260 kuma-dp: disable Envoy hot restart in order to support multiple Envoy instances on the same Linux machine
  app/kuma-dp/pkg/dataplane/envoy/envoy.go
  app/kuma-dp/pkg/dataplane/envoy/envoy_test.go
Labels: kuma-dp

#261 kuma-dp: if `--config-dir` argument is not set, automatically create a temp dir
  app/kuma-dp/cmd/run.go
  app/kuma-dp/cmd/run_test.go
  app/kuma-dp/cmd/testdata/envoy-mock.sleep.sh
  pkg/config/app/kuma-dp/config.go
  pkg/config/app/kuma-dp/config_test.go
  pkg/config/app/kuma-dp/testdata/default-config.golden.yaml
  pkg/config/app/kuma-dp/testdata/invalid-config.input.yaml
Labels: kuma-dp

#293 chore: upgrade version of `controller-runtime`
  app/kuma-dp/cmd/testdata/envoy-mock.sleep.sh
  go.mod
  go.sum
  pkg/plugins/resources/k8s/native/go.mod
  pkg/plugins/resources/k8s/native/go.sum
Labels: kuma-cp

#294 kuma-cp: move `EnvironmentType` into `config/core` package
  pkg/config/app/kuma-cp/config.go
  pkg/config/core/config.go
  pkg/config/loader_test.go
  pkg/core/bootstrap/autoconfig.go
  pkg/core/bootstrap/bootstrap.go
  pkg/sds/server/components.go
  pkg/xds/context/context.go
Labels: kuma-cp

#295 kuma-cp: set TypeMeta on all k8s resources (pre-requirement for k8s Admission WebHooks to work as expected)
  pkg/plugins/resources/k8s/native/api/v1alpha1/dataplane_insight_types_helpers.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/dataplane_types_helpers.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/global_type_registry_test.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/mesh_types_helpers.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/proxytemplate_types_helpers.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/trafficlogging_types_helpers.go
  pkg/plugins/resources/k8s/native/api/v1alpha1/trafficpermission_types_helpers.go
Labels: kuma-cp

#296 kuma-cp: introduce RuntimePlugin
  pkg/core/plugins/interfaces.go
  pkg/core/plugins/registry.go
Labels: kuma-cp
